    :root{
        --tboiGameColor: rgb(150, 97, 0);
        --silksongGameColor: rgb(206, 83, 83);
        --astroneerGameColor: rgb(130, 25, 171);
        --awariaGameColor: rgb(48, 205, 9);
        --boplGameColor: rgb(241, 238, 60);
        --btd6GameColor: rgb(111, 185, 222);
        --ddlcGameColor: rgb(249, 166, 227);
        --mrGameColor: rgb(239, 185, 8);
        --postalGameColor: rgb(215, 44, 44);
        --spgGameColor: rgb(120, 65, 162);
        --warframeGameColor: rgb(70, 98, 126);
        --backgroundGame:rgb(104, 104, 104);
        --backgroundDesc:rgb(50, 50, 50);
        --lightTexts: rgb(219, 219, 219);
        --darkTexts: rgb(23, 23, 23);
    }

body{
    margin: 0;  
    padding: 0px;
    background-color: var(--backgroundGame);
}

#content{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;  
    padding: 0;
}

.head{
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
}
#voltar{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*parte esquerda*/
#game{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundGame);
    width: 40%;
    height: 100vh;
    justify-content: top;
    align-items: center;
    padding: 0;
    
}
/*parte da direita*/
#desc{
    background-color: var(--backgroundDesc);
    width: 60%;
    height: 100vh;
    padding: 0px 20px;
    overflow-y: auto;
}

#Tit{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--darkTexts);
}
#Img{
    width: 50%;
    height: 65%;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.349);
}q  
#Nota{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--darkTexts);
}
#Desc1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--darkTexts);
    text-align: center;
    padding: 0px 20px;
}
#Sobre{
    font-family: ar'Arial Narrow Bold', sans-serif;
    color: var(--lightTexts);
}
#Desc2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--lightTexts);
}


.titles{
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*estilo de TBOI*/
#tboiTitDiv{
    background-color: var(--tboiGameColor);
}
/*estilo de SILKSONG*/
#silksongTitDiv{
    background-color: var(--silksongGameColor);
}
/*estilo de ASTRONEER*/
#astroneerTitDiv{
    background-color: var(--astroneerGameColor);
}

/*estilo de AWARIA*/
#awariaTitDiv{
    background-color: var(--awariaGameColor);
}

/*estilo de BOPL*/
#boplTitDiv{
    background-color: var(--boplGameColor);
}

/*estilo de BTD6*/
#btd6TitDiv{
    background-color: var(--btd6GameColor);
}

/*estilo de DDLC*/
#ddlcTitDiv{
    background-color: var(--ddlcGameColor);
}

/*estilo de MR*/
#mrTitDiv{
    background-color: var(--mrGameColor);
}

/*estilo de POSTAL*/
#postalTitDiv{
    background-color: var(--postalGameColor);
}

/*estilo de SPG*/
#spgTitDiv{
    background-color: var(--spgGameColor);
}

/*estilo de WARFRAME*/
#warframeTitDiv{
    background-color: var(--warframeGameColor);
}
